.menu
{
    width: 15%;
    height: 100vh;
    display: inline-block;
    background-color: aliceblue;
    position: fixed;
    top: 50px;
    
}

nav span, nav svg
{
    display: inline-block;
}
.logo
{
    width: 5%;
}
main
{
    margin-left: 15%;
    width:85%;
    height: 100vh;
    background-color: aqua;
}
.all
{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.item
{
    width: 22%;
    height: 175px;
    background: url(https://i.ytimg.com/vi/fUM_hiU3p3w/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLAsVGRFqInpOShaRjqhALUCxRCZLQ);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

}

.position-fixed
{
    position: fixed;
}
.w-100
{
   width: 100%;
}
.display-flex
{
    display:flex;
    justify-content: space-between;
}